<div class="login-box">
<h3 style="color: #7fade0;">Apply Leave</h3>

  <form #leaveForm = "ngForm" (ngSubmit) = "addLeave()">
    <div class="user-box">
      <label for="appname"  class="form-label">Name</label><br>
      <input type="text" name="appname" required [(ngModel)] ="formData.name" />
    </div>
    <div class="user-box">
      <label for="jobtitle" class="form-label">Job</label><br>
      <input type="text" name="jobtitle" required [(ngModel)]="formData.jobtitle"  />
    </div>
    <div class="user-box">
      <label for="city" class="form-label">City</label><br>
      <input type="text" name="city" required [(ngModel)]="formData.city" />
    </div>

<!-- <p>Leave Type : <input type="text" required [(ngModel)]="leavetype" /></p> -->
<!-- <p>User Type :<dropdown name="role">
  <option value="admin">Admin</option>
  <option value="user">User</option>
</dropdown></p> -->
<div class="user-box">
  
  <label for="leavetype" class="form-label">Leave Type</label><br><br>
  <select  name="leavetype" [(ngModel)] = "formData.leavetype" >
    <option value="sick leave" selected>Sick Leave</option>
    <option value="personal leave">Personal Leave</option>
  </select>
</div>
<div>
   <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg/800px-Prasat_Sikhoraphum_-_Sikhoraphum_edit1.jpg"  
    class="btn btn-primary mt-3 mb-5" data-toggle="modal" data-target="#SubmitLeave" data-effect="mfp-3d-unfold">Click to open Modal</a> 
<!-- <button type="submit"  class="btn btn-primary mt-3 mb-5" data-toggle="modal" data-target="#SubmitLeave">Submit</button> -->
</div>
</form>
</div>
<div id="SubmitLeave" class="white-popup mfp-with-anim mfp-hide">Applied</div>
<!-- <div class="modal fade" id="SubmitLeave" tabindex="-1" role="dialog" aria-labelledby="SubmitLeave" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Leave Applied</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 -->
 <!-- <app-table [(ngModel)]="items===articles" ></app-table>  -->
  
  <!-- <div class="loader" *ngIf="articles.length === 0"></div> -->
  <!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let article of articles">{{article.title}}</li>
  </ul> -->

  <!-- <div *ngFor="let article of articles;let i =index">
  <div class="panel panel-primary">
    <div class="panel-heading">{{article.name}}</div>
    <div class="panel-body">
        <p>{{article.job}}</p>
        <p>{{article.city}}</p>
        <p>{{article.type}}</p>
    </div>
  </div>
  </div> -->
