h1{
    color: #fdaeae;
}

.green{
    color: green;
}

.red{
    color: red;
}

button{
    font-size: small;
}
input{
    font-size: small;
}
table,thead,tr,tbody, th, td {
    border: 1px solid;
  }


